body {
  background: #000;
  color: #fff;
  font: 14px "Courier New", monospace;
  margin: 0;
  padding: 20px;
}

#logo {
  margin-bottom: 20px;
}

#saveFile {
  display: none;
}

input[type=text] {
  background: 0;
  color: #fff;
  border: 1px solid #fff;
  padding: 2px;
}

#sniff {
  background: #fff;
  border: 1px solid #eee;
  color: #000;
  padding: 8px 40px;
  font-family: "Courier New", monospace;
  text-transform: uppercase;
  cursor: pointer;
}

#sniff[disabled] {
  color: #ccc;
  background-color: #eee;
}

#saveFilename {
  text-decoration: underline;
  cursor: pointer;
}

.field {
  position: absolute;
}

#input {
  position: relative;
}

#output {
  margin-top: 50px;
  /*display: none;*/
}

/*#status {*/
  /*text-align: right;*/
/*}*/

#log {
  height: 210px;
  overflow: scroll;
  font-size: 12px;
  border: 1px solid #ccc;
  padding: 5px;
}
